<form asp-controller="Security" asp-action="Login" method="post">
    <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />
    <input type="text" name="username" id="username" />
    <input type="password" name="password" id="password" />
    <input type="submit" value="Login" />
</form>

